@{
  Layout = "_Layout";
}
  <h1>@Model.GetCompanyName()</h1>
  <h1>@Model.GetJobTitle()</h1>
  <h1>@Model.GetJobStart()</h1>
  <h1>@Model.GetJobEnd()</h1>
  <h1>@Model.GetJobDescription()</h1>


  <a href="/person/jobs/new">Add another job</a>
  <a href="/person/jobs">View all jobs</a>
